.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: #293a58;
    .p-input-icon-left {
      // position: absolute;
      width: 264px;
      height: 42px;
      left: 60px;
      top: 24px;
      .input-search {
        background: #374661;
        color: white;
        border: 1px solid #8598b9;
        border-radius: 7px;
      }
    }
    .text-right {
      padding-top: 24px;
      padding-right: 40px;
    }
    .icon {
      padding-top: 7px;
    }
    .img {
      padding-top: 5px;
    }
  }
  .fa-btn{
    background-color: transparent;
  }
  