<div class="fa-doctor">
  <!-- Header -->
  <div class="fa-doctor__header">
    <div class="fa-doctor__header-title">
      Doctors
    </div>
    <div class="fa-doctor__header-add">
      <button (click)="addDoctor()" class="fa-addBtn" pButton type="button">+ Add Doctor</button>
    </div>
  </div>

  <!-- Body -->
  <div class="fa-doctor__body">
    <div class="row no-mrRL gy-5">
      <div class="col-md-3">
        <p-card>
          <ng-template pTemplate="header">
            <div class="fa-doctor__body-header">
              <div class="fa-doctor__body-avatar">
                <!-- Avatar here -->
              </div>
              <div class="fa-doctor__body-options">
                <!-- Icon 3 dots here -->
              </div>
            </div>
          </ng-template>
          <div class="fa-doctor__body-info">
            <p> name here </p>
            <span>position here</span>
            <p>department here</p>
          </div>
          <ng-template pTemplate="footer">
            <div class="fa-doctor__body-contact">
              <p>Phone here</p>
              <p>Email here</p>
            </div>
          </ng-template>
        </p-card>
      </div>

    </div>
  </div>
</div>
