// Colors
$darkblue: #293a58;
$lightDarkBlue: #3c4e6e;
$border-blue: #374661;
$white: #fff;
$light-white: rgb(255, 255, 255, 0.2);
$lightGray: #acb2be;
$darkGray: #7988a3;

$darkestBlue: #1f2d47;
$pink: #ff447c;
$violet: #8146ff;
$text-color: #f5fbf5;
$green: #56c456;
$light-green: rgb(86, 196, 86, 0.1);
$red: rgb(242, 110, 110);
$light-red: rgb(242, 110, 110, 0.1);

$active-status: #12ba76;
$inactive-status: #cfcfcf;
