@import "../../shared/styles/variable";

.fa-appointment-container {
  font-family: "Inter", sans-serif;
  height: auto;
  width: 100%;
  margin-left: auto;
  background-color: $darkestBlue;
  color: $text-color;
  padding: 40px 30px;

  .fa-appointment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      display: flex;
    }
    &__title {
      font-size: 1.4rem;
      font-weight: 300;
    }
    &__status {
      width: 150px;
      height: 40px;
      margin-right: 10px;
      .fa-custom-select {
        background-color: $lightDarkBlue;
        padding-left: 12px;
        color: $text-color;
        height: 40px;
        background-image: url("../../../assets/icons/vector.svg") ;
      }
    }
    
    &__cabinet {
      width: 150px;
      height: 40px;
      margin-right: 10px;
      .fa-custom-select {
        background-color: $lightDarkBlue;
        color: $text-color;
        padding-left: 12px;
        height: 40px;
        background-image: url("../../../assets/icons/vector.svg");
      }
    }
    &__new {
      ::ng-deep{
        .p-button{
          padding: 7px;
        }
      }
      .fa-newBtn {
        background-color: $violet !important;
        transition: all ease 0.2s;
        font-family: 'Inter',sans-serif;
        font-weight: 300;
        &:active {
          transform: scale(0.9);
        }
     
      }
    }
  }
}
